
@model HeThongQuanLyDoAnCNTT.DataAccess.T_Subject

@{
    ViewBag.Title = "create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.ID_Teacher)
    @Html.HiddenFor(model => model.ID_Subject)
    <div class="single-product-tab-area mg-tb-15">
        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="review-tab-pro-inner table-bordered">
                            <ul id="myTab3" class="tab-review-design">
                                <li class="active"><a href="#description"><i class="fa fa-pencil" aria-hidden="true"></i>Đề tài giảng viên</a></li>
                            </ul>
                            @if (User.IsInRole("Teacher") == true)
                            {
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="description">
                                        <div class="row">                                           
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i aria-hidden="true"><strong>Tên đề tài</strong></i></span>
                                                        @if (Model.isActive == true)
                                                        {
                                                        <input type="text" class="form-control" name="T_SubjectName" value="@Model.T_SubjectName" required>}
                                                        else { <input type="text" class="form-control" name="T_SubjectName" value="@Model.T_SubjectName" readonly>}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt" required>
                                                        <span class="input-group-addon"><i aria-hidden="true"><strong>Giới thiệu</strong></i></span>
                                                        <textarea name="Contents" class="form-control" rows="5" style="resize:none">@Model.Contents</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                    <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10">
                                                        Lưu
                                                    </button>
                                                    <button type="button" onclick="window.location.href='/T_Subject'" class="btn btn-success">
                                                        Trở về
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="description">
                                        <div class="row">                                       
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i aria-hidden="true"><strong>Tên đề tài</strong></i></span>
                                                        <input type="text" class="form-control" name="T_SubjectName" value="@Model.T_SubjectName" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt" required>
                                                        <span class="input-group-addon"><i aria-hidden="true"><strong>Giới thiệu</strong></i></span>
                                                        <textarea name="Contents" class="form-control" rows="5" style="resize:none" readonly>@Model.Contents</textarea>
                                                    </div>
                                                </div>
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt" required>
                                                        <span class="input-group-addon"><i aria-hidden="true"><strong>Nội dung</strong></i></span>
                                                        <textarea name="Description" class="form-control" rows="10" style="resize:none" readonly> @Model.Description</textarea>
                                                    </div>
                                                </div>
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt" required>
                                                        <span class="input-group-addon"><i aria-hidden="true"><strong>Trạng thái</strong></i></span>
                                                        @Html.EditorFor(model => model.isActive)
                                                        @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt" required>
                                                        <span class="input-group-addon"><i aria-hidden="true"><strong>Đã xóa</strong></i></span>
                                                        @Html.EditorFor(model => model.isDelete)
                                                        @Html.ValidationMessageFor(model => model.isDelete, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                    <button type="button" onclick="window.location.href='/T_Subject'" class="btn btn-success">
                                                        Trở về
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
