@model IEnumerable<HeThongQuanLyDoAnCNTT.DataAccess.Teacher>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MSGV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBegin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Roles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Subjects)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdentificationCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_T_Subjects)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MSGV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateBegin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Roles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Subjects)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdentificationCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_T_Subjects)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
